.popUpBox {
  background-color: rgba(255, 210, 194, 0.817);
  width: 250px;
  border-radius: 20px;
  padding: 5px 5px 5px 15px;
}
.mapboxgl-popup-close-button {
  background-color: rgba(255, 255, 255, 0.906);
  border: none;
  border-radius: 5px;
  margin-left: 90%;
}
