/* Map component styling*/
.container {
  display: flex;
  flex-direction: row;
  padding: 1% 0;
  width: 89%;
  margin-left: 5%;
  overflow: hidden;
}

.map_box {
  height: 80vh;
}

.filter-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25%;
  margin-right: 25%
}

.map-title {
  margin-left: 20%;
  margin-top: 1%;
}


.map-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(245, 237, 221);
  height: 100vh;
}

.cluster-marker {
  color: #fff;
  background: #aa5a15;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
}

.logo {
  color: pink;
  font-size: 100px;
  text-align: center;
  margin-bottom: -50px;
}

.pop-up-close {
  display: flex;
  justify-content: center;
  margin-top: 3.5%;
}

.next-to-about {
  position: absolute;
  right: 50%;
  margin-top: 1%;
  background-color: rgba(211, 124, 18, 0.324);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 0.3s;
}

/* NavBar.js Styling */

h3 {
  color: #fff8fb;
  margin-left: -50%;
  margin-top: 4%;
  font-family: 'Playfair Display', serif;
}

a {
  color: #370617;
  font-family: 'Playfair Display', serif;
}

.nav-div {
  padding: 0 1%;
  position: absolute;
  background: rgb(75, 75, 75);
  opacity: 0.75;
  z-index: 4;
  width: 100%;
  animation: nav-div 1s;
  display: flex;
  justify-content: space-between;
}

@keyframes nav-div {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.75;
  }
}

.navigation {
  display: flex;
}

.navigation-content {
  font-size: 1.25rem;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  transition: 0.5s;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.navigation-content:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #8b4312;
  height: 0.15rem;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.navigation-content:hover:before,
.navigation-content:focus:before,
.navigation-content:active:before {
  right: 0;
}

.HRClogo {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
}

.logo-img-div {
  width: 200px;
  display: flex;
  flex-direction: row;
}

.logo-img {
  width: 120%;
  margin-top: -30%;
  margin-bottom: -30%;
}

/* Sign Up Form */

.form {
  background-color: #faa307;
  width: 25%;
  margin: 5% 0 10% 10%;
  padding: 6%;
}

.label {
  color: #03071e;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}

.sign-up-pic {
  width: 40%;
  margin-top: 9%;
  margin-left: 10%;
  height: 50%;
  opacity: 45%;
}

.signupContainer {
  display: flex;
  background-color: #370617;
}

.sign-up-form-and-image {
  display: flex;
  background-color: #370617;
}

.sign-up-text-container {
  margin-left: 11%;
  margin-top: 4%;
  color: #faa307;
  font-family: 'Playfair Display', serif;
}

.sign-up-h1 {
  color: #faa307;
  font-family: 'Playfair Display', serif;
}

.signup-btn {
  background-color: #370617;
  color: #faa307;
  opacity: 50%;
  margin-top: 6%;
  margin-left: 32%;
}

.filter-paper {
  background-color: red;
}

.submit-zip-code {
  margin-left: 1%;
}




@media screen and (max-width: 768px) {

  .next-to-about {
    display: none;
  }

  .map-title {
    margin-left: 9%;
  }

  .filter-title {
    margin-top: 5%;
  }
}

@media screen and (max-width: 280px) {

  .filter-title {
    flex-direction: column-reverse;
    margin-left: 20%;
  }

  .map-title {
    font-size: 1rem;
    margin-left: 0;
  }

}