@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #111;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
}

body * {
  transition: all 0.3s ease-in-out;
}

/*Main Content*/
main {
  position: relative;
  z-index: 3;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

section {
  width: 70%;
  padding: 3rem 0 2rem 0;
  margin: 0 auto;
  align-items: center;
}

main section h2 {
  font-size: 2.7rem;
  color: #370617;
  line-height: 2rem;
  padding-right: 0.625rem;
  text-align: center;
}

main section div {
  position: relative;
}

.bottom {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bottom-section {
  border-bottom: 0.125rem solid silver;
  margin-bottom: 1.875rem;
  width: 80%;
}

.organization {
  text-align: center;
  font-size: 1.25rem;
  color: #370617;
  width: 80%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* margin-top: 5%; */
}

.considered {
  font-size: 1.25rem;
  margin-top: 2.5rem;
  color: #370617;
  text-align: center;
  width: 90%;
}

.icons {
  font-size: 3rem;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 1rem;
}

/* middle content */

.middle {
  display: flex;
  justify-content: center;
}

.middle-content {
  background-color: rgb(159, 70, 1);
  height: 20rem;
  width: 90%;
  padding: 0 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mid-title {
  font-size: 5rem;
  color: wheat;
  flex: 1;
  padding-left: 5%;
  padding-top: 5%;
}

.mid-text {
  font-size: 1.5rem;
  color: rgb(255, 216, 175);
  flex: 1;
  padding-top: 5%;
}

.last-section {
  background-color: rgb(255, 253, 247);
}

/* popup box */

.popUpContent {
  overflow: scroll;
  max-width: 12.5rem;
  max-height: 25rem;
  border-radius: 0.313rem;
}

.popUpMessages {
  border-bottom: 0.063rem solid silver;
  padding-bottom: 0.938rem;
}

/* full screen setting */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper>* {
  padding: 20px;
}

.page-main {
  flex-grow: 1;
}

/* header */
.title-content {
  margin-top: 3%;
  margin-left: 2%;
  background-color: rgba(24, 17, 6, 0.386);
  padding-left: 2%;
  border-radius: 0.5rem;
  animation: title-content 1s;
}

@keyframes title-content {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.banner-title {
  font-size: 2.5rem;
  color: rgb(242, 215, 198);
}

.banner-second-title {
  font-size: 2.5rem;
  color: rgb(249, 168, 143);
}

.banner-subtitle {
  font-size: 1rem;
  margin-top: 1%;
  color: rgb(222, 208, 199);
}

/* next page button */
.next-page {
  position: absolute;
  bottom: 1rem;
  right: 50%;
  background-color: rgba(255, 255, 255, 0.324);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 0.3s;
}

.next-page:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

/* variables */
:root {
  --main-white-color: white;
  --main-brown-color: #000000;
}

.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  background: var(--main-brown-color) url(./assets//bannerFull.jpg) no-repeat center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.page-main div {
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .page-main {
    padding-left: 90px;
  }

}

@media screen and (max-width: 768px) {

  main section h2 {
    font-size: 1.8rem;
  }

  .mid-title {
    font-size: 2rem;
  }

  .mid-text {
    font-size: 1.2rem;
  }


  .next-page {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  main section h2 {
    font-size: 1.8rem;
  }

  .mid-title {
    font-size: 2rem;
  }

  .mid-text {
    font-size: 1.2rem;
  }

  .middle-content {
    width: 100%;
  }

  .next-page {
    display: none;
  }
}

@media screen and (max-width: 280px) {

  .banner-title,
  .banner-second-title {
    font-size: 2rem;
  }

  .banner-subtitle {
    font-size: 1rem;
  }
}

/* view-map button and animation */

.view-map {
  background-color: rgba(255, 255, 255, 0.466);
  color: rgb(156, 51, 13);
  font-size: 2rem;
  width: 80%;
  height: 30%;
  padding: 2.5% 2%;
  margin-top: 3%;
  margin-bottom: 4%;
  border-radius: 0.5rem;
  text-align: center;
}

.view-map-font {
  font-family: 'Merriweather', serif;
}

@media screen and (max-width: 280px) {
  .view-map {
    width: 90%;
    padding: 6% 0;
    font-size: 1.3rem;
    height: 20%;
  }
}

@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

.hvr-icon-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-hang .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-hang:hover .hvr-icon,
.hvr-icon-hang:focus .hvr-icon,
.hvr-icon-hang:active .hvr-icon {
  -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  animation-name: hvr-icon-hang-sink, hvr-icon-hang;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

.map-title {
  text-align: center;
  color: #370617;
}

.back-to-top {
  position: absolute;
  right: 10%;
  background-color: rgb(255, 243, 172);
  padding: 0.3%;
}

/* footer */
.page-footer {
  margin-left: 10%;
  margin-top: -1%;
}