@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #eee;
  color: #111;
  font-family: 'Playfair Display', serif;
  display: flex;
  flex-direction: column;
}

body * {
  transition: all 0.3s ease-in-out;
}

/* Header */

header {
  background: url('./assets/banner.png');
  background-size: 100%;
  height: 31.25rem;
  background-position: center;
  position: relative;
}

header div.top {
  position: relative;
  z-index: 2;
  display: grid;
  width: 90%;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  padding-top: 5%;
  align-items: center;
}

.map {
  background: #9b3f18;
  display: block;
  color: #fff;
  font-weight: bold;
  width: 20%;
  text-align: center;
  padding: 0.75rem;
  border-radius: 1.25rem;
  margin: 16.875rem;
  margin-left: -3.75rem;
  font-size: 1.063rem;
  -webkit-box-shadow: 0rem 0.625rem 3.375rem -0.688rem rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0rem 0.625rem 3.375rem -0.688rem rgba(0, 0, 0, 0.75);
  box-shadow: 0rem 0.625rem 3.375rem -0.688rem rgba(0, 0, 0, 0.75);
}

.mapBtn {
  display: flex;
  flex-direction: column;
}

/*Main Content*/
main {
  position: relative;
  z-index: 3;
  overflow: hidden;
  font-family: 'Playfair Display', serif;
}

main section {
  width: 70%;
  padding: 5.625rem 0;
  margin: 3.125rem auto 9.375rem auto;
  align-items: center;
}

main section h2 {
  font-size: 2.7rem;
  color: #370617;
  line-height: 4.2rem;
  padding-right: 0.625rem;
  text-align: center;
}

main section div {
  position: relative;
}

.bottom {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.bottom-section {
  border-bottom: 0.125rem solid silver;
}

.organization {
  text-align: left;
  font-size: 1.25rem;
  margin-top: 2.5rem;
  color: #370617;
  width: 48%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.considered {
  text-align: left;
  font-size: 1.25rem;
  margin-top: 2.5rem;
  color: #370617;
}

.considered-intro {
  text-align: left;
  font-size: 1.25rem;
  margin-top: 2.5rem;
  color: #370617;
  width: 45.625rem;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flag {
  margin-right: 3.75rem;
}

.person {
  margin-right: 3.75rem;
}

.book {
  margin-right: 3.75rem;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0.95;
}

.how {
  background: url('./assets/howitworks.PNG');
  height: 300px;
  width: 45%;
}

@media (max-width: 31.25rem) and (min-width: 0rem) {
  header {
    background-size: 100%;
    height: 10rem;
    position: relative;
  }

  header div.top {
    width: 75%;
    grid-template-columns: 1fr;
    padding-top: 16.25rem;
  }

  .map {
    margin-top: -5rem;
    margin-left: 7.813rem;
    width: 25%;
  }

  main section:first-of-type {
    margin-top: 18.125rem;
  }

  main section {
    width: 90%;
    padding: 0.625rem 0;
    margin: 3.125rem auto 0rem auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  main section h2 {
    font-size: 1.5rem;
  }

  main section div p {
    padding: 0rem 0.625rem;
  }

  .icons {
    width: 75%;
  }

  .considered-intro {
    width: 28.125rem;
  }

  .how {
    width: 140%;
    height: 300px;
  }

  .organization {
    width: 28.125rem;
  }
}

@media (max-width: 50rem) and (min-width: 37.5rem) {
  header {
    height: 16.563rem;
  }

  header div.top {
    width: 75%;
    padding-top: 7.5rem;
    grid-template-columns: 1fr;
  }

  .map {
    margin-top: 5rem;
    width: 25%;
  }

  main section {
    width: 90%;
    padding: 5.625rem 0;
    margin: 0rem auto 3.125rem auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  main section div p {
    padding: 0rem 5.625rem;
  }

  .considered-intro {
    width: 45rem;
  }

  .how {
    height: 17.813rem;
    width: 83%;
  }

  .organization {
    width: 100%;
  }
}

/* popup box */

.popUpContent {
  overflow: scroll;
  max-width: 12.5rem;
  max-height: 25rem;
  border-radius: 0.313rem;
}

.popUpMessages {
  border-bottom: 0.063rem solid silver;
  padding-bottom: 0.938rem;
}

/* full screen setting */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-main {
  flex-grow: 1;
}

/* header */
.title-content {
  margin-top: -6%;
  margin-left: 2%;
  background-color: rgba(24, 17, 6, 0.386);
  padding-left: 2%;
  border-radius: 0.5rem;
}

.banner-title {
  font-size: 3rem;
  color: rgb(242, 215, 198);
}

.banner-second-title {
  font-size: 3rem;
  color: rgb(249, 168, 143);
}

.banner-subtitle {
  font-size: 1.1rem;
  margin-top: 1%;
  color: rgb(222, 208, 199);
}

/* arrow down */
.view-map {
  background-color: rgba(255, 255, 255, 0.466);
  color: rgb(156, 56, 13);
  font-size: 2rem;
  width: 50%;
  height: 80px;
  padding: 3% 2%;
  margin-top: 2%;
  font-family: 'Playfair Display', serif;
  border-radius: 0.5rem;
  text-align: center;
}
.arrow {
  border: solid rgb(104, 20, 20);
  border-width: 0 0.2rem 0.2rem 0;
  width: 1.6rem;
  height: 1.6rem;
  display: inline-block;
  padding: 0.2rem;
  margin-left: 1rem;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* variables */
:root {
  --main-white-color: white;
  --main-brown-color: #000000;
}

.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 350px;
  background: var(--main-brown-color) url(./assets//bannerFull.jpg) no-repeat
    center / cover;
  background-blend-mode: luminosity;
  color: var(--main-white-color);
}

.page-main div {
  max-width: 500px;
}

@media screen and (min-width: 768px) {
  .page-main {
    padding-left: 90px;
  }
}
