.map-nav {
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 70px;
  background: rgba(white, 0.7);
  padding: 0 3%;
  display:flex;
  align-items:center;
  justify-content: space-between;

  .right-map-nav {
      input {
          border:1px solid black;
          padding:7px;
          width:280px;

          &:hover {
            border:1px solid goldenrod;
        }
      }
  }
  
  .left-map-nav {
    width: 25%;
    display:flex;
    align-items: center;
    height:40px;
    display: flex;
    justify-content: space-evenly;

    button {
      border:1px solid black;
      background: white;
      padding: 7px;
      width: 150px;
      list-style: none;
      text-transform: capitalize;

      &:hover {
          border:1px solid goldenrod;
      }
    }
  }
}
